footer{
    background-color: white;
    height: 200px;
    width: 100%;
    color: var(--dark);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 2rem;
  
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer h1{
text-transform: uppercase;
font-size: 2rem;
font-weight: 900;
font-family: 'Courier New', Courier, monospace;
color: var(--purple);
}
footer p{
font-size: 1.2rem;
font-weight: 500;
color: var(--purple);
font-family: 'Courier New', Courier, monospace;

}
footer h5{
font-size: 2rem;
font-weight: 300;
color:var(--blue);
margin: 1rem 0 0.5rem;
text-align: center;
font-family: 'Courier New', Courier, monospace;

}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a{
    color: var(--dark);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 1.5rem;
    text-decoration: none;
}

footer a:hover{
    color: var(--purple);
}